<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @order.user.account_manager.firstname %>, one of your clients has just placed an order.  Here's the order:
    </p>
  </body>
</html>