<footer id="footer">
		<div class="container">

			<div class="row"><div class="span5"><div id="sbs_nav_menu-2" class="widget widget_sbs_nav_menu"><h3 class="widgettitle title m_title">FOOTER MENU</h3><div class="zn_sbs"><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-325" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-325"><a href="http://#">Curabitur iaculis</a></li>
<li id="menu-item-326" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-326"><a href="http://#">Parturient montes</a></li>
<li id="menu-item-327" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://#">Vulputate magna</a></li>
<li id="menu-item-328" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-328"><a href="http://#">Cum sociis natoque</a></li>
<li id="menu-item-329" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-329"><a href="http://#">Nulla varius commodo</a></li>
<li id="menu-item-330" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-330"><a href="http://#">Parturient montes</a></li>
<li id="menu-item-331" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-331"><a href="http://#">Vulputate magna</a></li>
<li id="menu-item-333" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-333"><a href="http://#">Cum sociis natoque</a></li>
<li id="menu-item-334" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-334"><a href="http://#">Nulla varius commodo</a></li>
</ul></div></div></div></div><div class="span4"><div id="zn_mailchimp-2" class="widget widget_zn_mailchimp"><div class="newsletter-signup"><h3 class="widgettitle title m_title">NEWSLETTER SIGNUP</h3><p>By subscribing to our mailing list you will always be update with the latest news from us.</p>		<form method="post" class="newsletter_subscribe" data-url="http://hogash-demo.com/kallyas_wp/" name="newsletter_form">			<input type="text" name="zn_mc_email" class="nl-email" value="" placeholder="your.address@email.com" />			<input type="hidden" name="zn_list_class" class="nl-lid" value="69c75c8a90" />			<input type="submit" name="submit" class="nl-submit" value="JOIN US" />		</form>		<span class="zn_mailchimp_result"></span><p>We never spam!</p>	</div><!-- end newsletter-signup --></div></div><div class="span3"><div id="text_contact-2" class="widget widget_text_contact"><h3 class="widgettitle title m_title">GET IN TOUCH</h3>
			<div class="textwidget contact-details"><p><strong>T (212) 555 55 00</strong><br />
Email: <a href="#">sales@yourwebsite.com</a></p>
<p>Your Company LTD<br />
Street nr 100, 4536534, Chicago, US</p>
<p><a href="http://goo.gl/maps/1OhOu" target="_blank"><i class="icon-map-marker icon-white"></i> Open in Google Maps</a></p></div>

		</div></div></div><!-- end row --><div class="row"><div class="span6"><div id="zn_twitter-2" class="widget widget_zn_twitter"><script type="text/javascript">
				jQuery(document).ready(function(e) {
					  getTwitters('twitterFeed', { 
						  id: 'envato', //ADD IN YOUR OWN TWITTER ID HERE
						  count: 1, 
						  enableLinks: true, 
						  ignoreReplies: true, 
						  clearContents: true,
						  template: '<a href="http://twitter.com/%user_screen_name%/statuses/%id_str%/" class="twTime"><span>%time%</span></a> "%text%"',
						  timeout: 10,
						  onTimeout: function () {
							  this.innerHTML = 'There seems to be a problem with loading the tweets. Please refresh or try again later.';
						  }
					  });
				});</script>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			<div class="twitter-feed"><div class="tweets" id="twitterFeed"><small>Please wait whilst our latest tweets load</small></div><a href="https://twitter.com/envato" class="twitter-follow-button" data-show-count="false">Follow @envato</a></div><!-- end twitter-feed --></div></div><div class="span6"><div id="social_buttons-2" class="widget widget_social_buttons">
			<ul class="social-share fixclear">
				<li class="sc-facebook"><div class="fb-like" data-href="http://facebook.com/hogash.themeforest" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="lucida grande"></div></li><!-- facebook like --><li class="sc-twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this awesome template Kallyas" data-via="hogash" data-hashtags="template">Tweet</a></li><!-- twitter  --><li class="sc-gplus"><script type="text/javascript">						
							(function() {
							var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							})();
						</script><div class="g-plusone" data-size="medium"></div></li><!-- Gplus like --><li class="sc-pinterest"><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fhogash-demo.com%2Fkallyas_wp%2F179-2%2F&amp;media=http%3A%2F%2Fhogash.com%2Fdemo%2Fkalypso_html%2Fimages%2Fsite_images%2Fscr-carousel%2Fimg2.jpg&amp;description=Kallyas+Wordpress+Theme" class="pin-it-button" count-layout="horizontal"><img src="http://assets.pinterest.com/images/PinExt.png" title="Pin It" alt="Pin It" /></a><script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script></li><!-- pinterest like -->			</ul>
		
			<div class="textwidget contact-details"></div>

		</div></div></div><!-- end row -->	
			
			<div class="row">
				<div class="span12">
					<div class="bottom fixclear">
					
					<ul class="social-icons  fixclear"><li class="title">GET SOCIAL</li><li class="social-facebook"><a href="#" target="_blank">Facebook</a></li><li class="social-twitter"><a href="#" target="_blank">Twitter</a></li><li class="social-dribbble"><a href="#" target="_blank">Dribble</a></li><li class="social-envato"><a href="#" target="_blank">Envato</a></li></ul>					
											
						<div class="copyright">
							
							
							<a href="http://hogash-demo.com/kallyas_wp"><img src="http://hogash-demo.com/kallyas_wp/wp-content/uploads/2013/01/logo2.png" alt="" /></a><p>© 2012 KALLYAS Template. All Rights Reserved. <a href="http://themeforest.net/item/kallyas-responsive-multipurpose-wordpress-theme/4091658?ref=hogash" target="_blank">Click here to buy it</a>.<br/>
Designed by HOGASH & Developed by Zauan</p>							
							
						</div><!-- end copyright -->
							
											

					</div><!-- end bottom -->
				</div>
			</div><!-- end row -->
			
		</div>
	</footer>
	
