		
        <header id="header" class="style2">
            <div class="container">
                <!-- logo -->
                <h3 id="logo"><a href="http://hogash-demo.com/kallyas_wp"><img src="/assets/kallyas_logo.png" alt="Just another WordPress site" /></a></h3>                <ul class="topnav navRight">
									<li><a href="#" id="open_sliding_panel">
						<span class="icon-remove-circle icon-white"></span> SUPPORT					</a>
				</li>
			                    <li><a href="#login_panel" data-rel="prettyPhoto[login_panel]">LOGIN</a></li>                </ul>
                <!-- end topnav // right aligned -->
                <ul class="topnav navLeft">
										<li class="drop">
						<%= link_to "MY CART", cart_checkout_path, :id => "mycartbtn", :title => "View your shopping cart" %>
						<div class="pPanel">
							<div class="inner">
							  <%= render :partial => "shared/cart_details", :locals => {:cart => current_user && current_user.cart} %>
							</div>
						</div>
					</li>
									
				</ul>
				<!-- end topnav // left aligned -->
				<!-- search -->
				<div id="search">
					<a href="#" class="searchBtn"><span class="icon-search icon-white"></span></a>
					<div class="search">
						<form id="searchform" action="http://hogash-demo.com/kallyas_wp" method="get">
							<input name="s" maxlength="20" class="inputbox" type="text" size="20" value="SEARCH ..." onblur="if (this.value=='') this.value='SEARCH ...';" onfocus="if (this.value=='SEARCH ...') this.value='';" />
							<input type="submit" id="searchsubmit" value="go" class="icon-search"/>
						</form>
					</div>
				</div>
				<!-- end search -->

				<!-- main menu -->
				<nav id="main_menu">
					<ul id="menu-main-menu" class="sf-menu clearfix"><li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a title="sadasdasd" href="http://hogash-demo.com/kallyas_wp/">HOME</a>
<ul class="sub-menu">
	<li id="menu-item-200" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-200"><a href="http://hogash-demo.com/kallyas_wp/179-2/">Homepage 2</a></li>
	<li id="menu-item-261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-261"><a href="http://hogash-demo.com/kallyas_wp/homepage-3/">Homepage 3</a></li>
	<li id="menu-item-284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="http://hogash-demo.com/kallyas_wp/homepage-4/">Homepage 4</a></li>
	<li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-283"><a href="http://hogash-demo.com/kallyas_wp/homepage-5/">Homepage 5</a></li>
	<li id="menu-item-302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-302"><a href="http://hogash-demo.com/kallyas_wp/homepage-6/">Homepage 6</a></li>
	<li id="menu-item-365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-365"><a href="http://hogash-demo.com/kallyas_wp/homapage-all/">Homapage All</a></li>
</ul>
</li>
<li id="menu-item-957" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-957"><a href="http://hogash-demo.com/kallyas_wp/sliders-2/">SLIDERS</a>
<ul class="sub-menu">
	<li id="menu-item-956" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-956"><a href="http://hogash-demo.com/kallyas_wp/sliders-2/main-slider/">Main Slider</a>
	<ul class="sub-menu">
		<li id="menu-item-373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373"><a href="http://hogash-demo.com/kallyas_wp/sliders-2/main-slider/default-style/">Default style</a></li>
		<li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a href="http://hogash-demo.com/kallyas_wp/with-thumbs/">With Thumbs</a></li>
		<li id="menu-item-425" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-425"><a href="http://hogash-demo.com/kallyas_wp/faded/">Faded</a></li>
		<li id="menu-item-424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-424"><a href="http://hogash-demo.com/kallyas_wp/fixed-width-slider/">Fixed Width Slider</a></li>
		<li id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423"><a href="http://hogash-demo.com/kallyas_wp/fixed-position-scroll/">Fixed Position (Scroll)</a></li>
	</ul>
</li>
	<li id="menu-item-878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-878"><a href="http://hogash-demo.com/kallyas_wp/creative-slider/">Creative Slider</a></li>
	<li id="menu-item-385" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385"><a href="http://hogash-demo.com/kallyas_wp/fixed-slider/">Fixed Slider</a>
	<ul class="sub-menu">
		<li id="menu-item-386" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-386"><a href="http://hogash-demo.com/kallyas_wp/fixed-slider/">Style 1 ( flex slider )</a>
		<ul class="sub-menu">
			<li id="menu-item-387" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-387"><a href="http://hogash-demo.com/kallyas_wp/fixed-slider/">Default</a></li>
			<li id="menu-item-390" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390"><a href="http://hogash-demo.com/kallyas_wp/with-thumbnails/">With thumbnails</a></li>
		</ul>
</li>
		<li id="menu-item-393" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393"><a href="http://hogash-demo.com/kallyas_wp/style-2-nivo-slider/">Style 2 ( Nivo Slider )</a></li>
		<li id="menu-item-396" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-396"><a href="http://hogash-demo.com/kallyas_wp/style-3-wow-slider/">Style 3 ( Wow Slider )</a>
		<ul class="sub-menu">
			<li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403"><a href="http://hogash-demo.com/kallyas_wp/style-3-wow-slider/">Blast Effect</a></li>
			<li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404"><a href="http://hogash-demo.com/kallyas_wp/blur-effect/">Blur Effect</a></li>
			<li id="menu-item-405" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-405"><a href="http://hogash-demo.com/kallyas_wp/fly-effect/">Fly Effect</a></li>
			<li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406"><a href="http://hogash-demo.com/kallyas_wp/blinds-effect/">Blinds Effect</a></li>
		</ul>
</li>
	</ul>
</li>
	<li id="menu-item-794" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-794"><a href="http://hogash-demo.com/kallyas_wp/sliders-2/3d-cute-slider-sliderul/">3D Cute Slider</a></li>
	<li id="menu-item-820" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-820"><a href="http://hogash-demo.com/kallyas_wp/fancy-slider/">Fancy Slider</a></li>
	<li id="menu-item-478" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-478"><a href="http://hogash-demo.com/kallyas_wp/static-content/">Static Content</a>
	<ul class="sub-menu">
		<li id="menu-item-502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-502"><a href="http://hogash-demo.com/kallyas_wp/static-content/">Style 1</a></li>
		<li id="menu-item-508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-508"><a href="http://hogash-demo.com/kallyas_wp/style-2-boxes/">Style 2 / Boxes</a></li>
		<li id="menu-item-524" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-524"><a href="http://hogash-demo.com/kallyas_wp/style-3-video/">Style 3 / Video</a></li>
		<li id="menu-item-547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-547"><a href="http://hogash-demo.com/kallyas_wp/style-2-boxes-2/">Style 4 / Maps</a></li>
		<li id="menu-item-546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546"><a href="http://hogash-demo.com/kallyas_wp/style-5-text-pop/">Style 5 / Text Pop</a></li>
		<li id="menu-item-545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545"><a href="http://hogash-demo.com/kallyas_wp/style-6-product-loupe/">Style 6 / Product Loupe</a></li>
		<li id="menu-item-587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-587"><a href="http://hogash-demo.com/kallyas_wp/style-7-event-countdown/">Style 7 / Event Countdown</a></li>
		<li id="menu-item-595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595"><a href="http://hogash-demo.com/kallyas_wp/style-6-video-background/">Style 8 / Video Background</a></li>
		<li id="menu-item-613" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-613"><a href="http://hogash-demo.com/kallyas_wp/style-9-text-login/">Style 9 / Text &#038; Register</a></li>
		<li id="menu-item-972" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-972"><a href="http://hogash-demo.com/kallyas_wp/style-10-simple-text/">Style 10 / Simple Text</a></li>
	</ul>
</li>
	<li id="menu-item-819" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-819"><a href="http://hogash-demo.com/kallyas_wp/portfolio-slider-devices/">Portfolio Slider Devices</a></li>
	<li id="menu-item-472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-472"><a href="http://hogash-demo.com/kallyas_wp/circular-content-default-style/">Circular Content</a>
	<ul class="sub-menu">
		<li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-473"><a href="http://hogash-demo.com/kallyas_wp/circular-content-default-style/">Alternative Style</a></li>
		<li id="menu-item-474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-474"><a href="http://hogash-demo.com/kallyas_wp/circular-content/">Default Style</a></li>
	</ul>
</li>
	<li id="menu-item-523" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-523"><a href="http://hogash-demo.com/kallyas_wp/portfolio-slider-frames/">Portfolio Slider Frames</a>
	<ul class="sub-menu">
		<li id="menu-item-522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-522"><a href="http://hogash-demo.com/kallyas_wp/sliding-vertically/">Sliding Vertically</a></li>
		<li id="menu-item-521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-521"><a href="http://hogash-demo.com/kallyas_wp/sliding-horizontally/">Sliding Horizontally</a></li>
	</ul>
</li>
	<li id="menu-item-442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-442"><a href="http://hogash-demo.com/kallyas_wp/laptop-slider/">Laptop Slider</a></li>
	<li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-490"><a href="http://hogash-demo.com/kallyas_wp/icarousel/">iCarousel</a></li>
	<li id="menu-item-466" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-466"><a href="http://hogash-demo.com/kallyas_wp/css3-panels/">CSS3 Panels</a></li>
</ul>
</li>
<li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="http://hogash-demo.com/kallyas_wp/about-us/">ABOUT US</a></li>
<li id="menu-item-53" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53"><a href="#">FEATURES</a>
<ul class="sub-menu">
	<li id="menu-item-1439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1439"><a href="http://hogash-demo.com/kallyas_wp/page-builder/">Page builder</a></li>
	<li id="menu-item-1447" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1447"><a href="http://hogash-demo.com/kallyas_wp/theme-options/">Theme admin panel</a></li>
	<li id="menu-item-228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a href="http://hogash-demo.com/kallyas_wp/features/blog/">Blog</a></li>
	<li id="menu-item-227" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227"><a href="http://hogash-demo.com/kallyas_wp/features/portfolio/">Portfolio</a>
	<ul class="sub-menu">
		<li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a href="http://hogash-demo.com/kallyas_wp/features/portfolio/category-layout/">Category Layout</a>
		<ul class="sub-menu">
			<li id="menu-item-1182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1182"><a href="http://hogash-demo.com/kallyas_wp/features/portfolio/portfolio-one-column/">One Column</a></li>
			<li id="menu-item-1179" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1179"><a href="http://hogash-demo.com/kallyas_wp/features/portfolio/portfoliotwo-columns/">Two Columns</a></li>
			<li id="menu-item-1178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1178"><a href="http://hogash-demo.com/kallyas_wp/features/portfolio/portfoliothree-columns/">Three Columns</a></li>
			<li id="menu-item-1177" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1177"><a href="http://hogash-demo.com/kallyas_wp/features/portfolio/portfolio-four-columns/">Four Columns</a></li>
		</ul>
</li>
		<li id="menu-item-225" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225"><a href="http://hogash-demo.com/kallyas_wp/features/portfolio/sortable-layout/">Sortable Portfolio</a></li>
		<li id="menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224"><a href="http://hogash-demo.com/kallyas_wp/carousels-layout/">Carousels Layout</a></li>
	</ul>
</li>
	<li id="menu-item-1317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1317"><a href="http://hogash-demo.com/kallyas_wp/photo-gallery/">Photo Gallery</a></li>
	<li id="menu-item-55" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55"><a href="#">Holiday Slides</a>
	<ul class="sub-menu">
		<li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="http://hogash-demo.com/kallyas_wp/page-header-for-christmas/">Christmas</a></li>
		<li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="http://hogash-demo.com/kallyas_wp/page-header-for-easter/">Easter</a></li>
	</ul>
</li>
	<li id="menu-item-983" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-983"><a href="http://hogash-demo.com/kallyas_wp/features/sitemap/">Sitemap</a></li>
	<li id="menu-item-993" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-993"><a href="http://hogash-demo.com/kallyas_wp/features/full-width-page-2/">Animated Header</a></li>
</ul>
</li>
<li id="menu-item-629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-629"><a href="http://hogash-demo.com/kallyas_wp/shop-page/">SHOP</a></li>
<li id="menu-item-954" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-954 active"><a href="http://hogash-demo.com/kallyas_wp/pages-2/">PAGES</a>
<ul class="sub-menu">
	<li id="menu-item-627" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-627"><a href="http://hogash-demo.com/kallyas_wp/pages-2/faq/">FAQ</a></li>
	<li id="menu-item-639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-639"><a href="http://hogash-demo.com/kallyas_wp/pages-2/process-page/">Process Page</a></li>
	<li id="menu-item-695" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-695"><a href="http://hogash-demo.com/kallyas_wp/pages-2/contact-us/">Contact Us</a></li>
	<li id="menu-item-694" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-694"><a href="http://hogash-demo.com/kallyas_wp/pages-2/full-width-page/">Full Width Page</a></li>
	<li id="menu-item-692" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-692"><a href="http://hogash-demo.com/kallyas_wp/pages-2/left-sidebar-page/">Left Sidebar Page</a></li>
	<li id="menu-item-690" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-690"><a href="http://hogash-demo.com/kallyas_wp/pages-2/right-sidebar-page/">Right Sidebar Page</a></li>
	<li id="menu-item-693" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-693"><a href="http://hogash-demo.com/kallyas_wp/pages-2/coming-soon-page/">Coming Soon page</a></li>
	<li id="menu-item-795" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-696 current_page_item menu-item-795 active"><a href="http://hogash-demo.com/kallyas_wp/pages-2/historic-page/">Historic page</a></li>
	<li id="menu-item-724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724"><a href="http://hogash-demo.com/kallyas_wp/pages-2/testimonials/">Testimonials</a></li>
	<li id="menu-item-796" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-796"><a href="http://hogash-demo.com/kallyas_wp/?page_id=1787678">404 Error</a></li>
	<li id="menu-item-797" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-797"><a href="http://hogash-demo.com/kallyas_wp/pages-2/our-team/">Team</a></li>
	<li id="menu-item-793" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-793"><a href="http://hogash-demo.com/kallyas_wp/pages-2/services/">Services</a></li>
	<li id="menu-item-935" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-935"><a href="http://hogash-demo.com/kallyas_wp/pages-2/careers/">Careers</a></li>
</ul>
</li>
<li id="menu-item-898" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-898"><a href="http://hogash-demo.com/kallyas_wp/typography/">STYLES</a>
<ul class="sub-menu">
	<li id="menu-item-899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-899"><a href="http://hogash-demo.com/kallyas_wp/typography/">Typography</a></li>
	<li id="menu-item-911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-911"><a href="http://hogash-demo.com/kallyas_wp/table-styles/">Table Styles</a></li>
	<li id="menu-item-921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-921"><a href="http://hogash-demo.com/kallyas_wp/button-designs/">Button Designs</a></li>
	<li id="menu-item-1079" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1079"><a href="http://hogash-demo.com/kallyas_wp/pricing-tables-designs/">Pricing Tables Designs</a></li>
	<li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102"><a href="http://hogash-demo.com/kallyas_wp/tabs-designs/">Tabs Designs</a></li>
	<li id="menu-item-1114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1114"><a href="http://hogash-demo.com/kallyas_wp/accordions-designs/">Accordions Designs</a></li>
</ul>
</li>
</ul>				</nav>
				<!-- end main_menu -->
			</div>
		</header>