<div id="options_panel">
    <div class="options">
		
        <table>
        	<tr>
            	<td >
                    <h5>Header type:</h5>
					<select name="header_style" id="header_style">
                    	<option value="1">Style 1</option>
                    	<option value="2" selected="selected">Style 2 (default)</option>
                    	<option value="3">Style 3</option>
                    	<option value="4">Style 4</option>
                    </select>
                </td>
            </tr>
            <tr>
            	<td >
                    <h5>Theme Colors:</h5>
					<input type="text" name="color1" class="color-picker miniColors" size="7" autocomplete="off" value="#cd2122" maxlength="7">
                </td>
            </tr>
<tr>
						<td>
							<h5>Color suggestions *</h5>
							<ul class="color_suggestions">
								<li style="background-color:#B71010;" title="#B71010"></li>
								<li style="background-color:#74AB00;" title="#74AB00"></li>
								<li style="background-color:#363636;" title="#363636"></li>
								<li style="background-color:#1592CC;" title="#1592CC"></li>
								<li style="background-color:#C72647;" title="#C72647"></li>
								<li style="background-color:#BAA507;" title="#BAA507"></li>
								<li style="background-color:#13D7FD;" title="#13D7FD"></li>
								<li style="background-color:#51106B;" title="#51106B"></li>
								<li style="background-color:#157A13;" title="#157A13"></li>
								<li style="background-color:#EB540A;" title="#EB540A"></li>
								<li style="background-color:#091A57;" title="#091A57"></li>
								<li style="background-color:#700808;" title="#700808"></li>
							</ul>
							<div class="clear"></div>
							
		                </td>
					</tr>
            <tr>
            	<td>
                    <h5>Theme:</h5>
					<select name="theme_switcher" id="theme_switcher">
						<option value="0" selected="selected">Light (Default)</option>
						<option value="1">Dark</option>
					</select>
                </td>
			</tr>
        </table>
       <div class="note">* May not have full accuracy! You will have more specific color options inside the admin panel</div>
    </div>
    <h3><span class="icon-wrench icon-white"></span></h3>
</div>