<!-- div id="page_header" class="uh_pages_-_background_3_style bottom-shadow" style="height:300px" -->
<div id="page_header" class="uh_pages_-_background_3_style bottom-shadow" style="min-height:200px">
			<div class="bgback"></div>
			
			<div data-images="http://hogash-demo.com/kallyas_wp/wp-content/themes/kallyas/images/" id="sparkles"></div>
			
			
			
			<div class="container">
				<div class="row">
					<div class="span6">
					
						<ul xmlns:v="http://rdf.data-vocabulary.org/#" class="breadcrumbs fixclear"><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://hogash-demo.com/kallyas_wp">Home</a></li><li typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="http://hogash-demo.com/kallyas_wp/pages-2/">Pages</a></li><li>Historic page</li></ul><span id="current-date">Thursday Feb 28, 2013</span>						
					</div>
					<div class="span6">
						<div class="header-titles">
							<h2>OUR COMPANY'S HISTORIC</h2> 
							<!-- h4>A brief timeline of moments that marked our company.</h4 -->
						</div>
					</div>
				</div><!-- end row -->
			</div>
			
			<div class="zn_header_bottom_style"></div>
		</div><!-- end page_header -->