<div id="slideshow"  class="uh_blue_with_glare"><div
class="bgback"></div><div
data-images="http://hogash-demo.com/kallyas_wp/wp-content/themes/kallyas/images/" id="sparkles"></div><div
class="container zn_slideshow"><div
id="ca-container" class="ca-container"><div
class="ca-wrapper"><div
class="ca-item ca-item-1"><div
class="ca-item-main"><div
class="ca-icon"></div><div
class="background" style="background-image:url(http://hogash-demo.com/kallyas_wp/wp-content/uploads/2013/02/pic1-376x440.jpg);"></div><div
class="title_circle" style="top:170px; left:15px;" data-size="medium"><span>AN <b>AWESOME</b> PRODUCT HERE</span></div><a
href="#" class="ca-more">MORE <span
class="icon-chevron-right icon-white"></span></a><span
class="ca-starting">starting from <b>$299</b></span></div><div
class="ca-content-wrapper"><div
class="ca-content"><h6>YES, AN AWESOME NEW PRODUCT</h6><a
href="#" class="ca-close"><span
class="icon-remove"></span></a><div
class="ca-content-text"><p><img
src="http://www.placehold.it/280x168"  class="img-polaroid pull-left" style="margin:0 20px 10px 0" alt=""> Donec adipiscing diam non augue suscipit in vulputate ligula vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vehicula vulputate scelerisque. Sed nec sodales sem.</p><p> Morbi pharetra viverra congue. Donec imperdiet eleifend varius. Quisque turpis tellus, imperdiet vel mollis quis, adipiscing sit amet est. Sed suscipit urna non felis mollis aliquam quis id lacus. Curabitur ut est vitae ante rutrum mollis id vitae nisi.</p><p>Mauris malesuada erat a magna egestas rutrum id at diam. Nulla pharetra lacinia est, at rhoncus dui dapibus eu. Aliquam sit amet diam libero. Integer urna dui, ultricies ac suscipit vitae, convallis ut tellus. Etiam ut justo nibh.</p><p>Donec adipiscing diam non augue suscipit in vulputate ligula vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vehicula vulputate scelerisque. Sed nec sodales sem.</p></div><a
href="#" target="_self">Find out more...</a></div></div></div><div
class="ca-item ca-item-2"><div
class="ca-item-main"><div
class="ca-icon"></div><div
class="background" style="background-image:url(http://hogash-demo.com/kallyas_wp/wp-content/uploads/2013/02/pic2-376x440.jpg);"></div><div
class="title_circle" style="top:200px; left:10px;" data-size="large"><span>AN <strong>AWESOME</strong> PRODUCT HERE</span></div><a
href="#" class="ca-more">MORE <span
class="icon-chevron-right icon-white"></span></a><span
class="ca-starting">starting from <strong>$299</strong></span></div><div
class="ca-content-wrapper"><div
class="ca-content"><h6>YES, AN AWESOME NEW PRODUCT</h6><a
href="#" class="ca-close"><span
class="icon-remove"></span></a><div
class="ca-content-text"><ul
class="other_images"><li><a
href="http://www.placehold.it/500x500/CB3733/ffffff" data-rel="prettyPhoto"><img
src="http://www.placehold.it/131x98/CB3733/ffffff" alt=""></a></li><li><a
href="http://www.placehold.it/500x500/22AABC/ffffff" data-rel="prettyPhoto"><img
src="http://www.placehold.it/131x98/22AABC/ffffff" alt=""></a></li><li><a
href="http://www.placehold.it/500x500" data-rel="prettyPhoto"><img
src="http://www.placehold.it/131x98" alt=""></a></li></ul><div
class="ca-content-text"><p>Donec adipiscing diam non augue suscipit in vulputate ligula vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vehicula vulputate scelerisque. Sed nec sodales sem.</p><p>Morbi pharetra viverra congue. Donec imperdiet eleifend varius. Quisque turpis tellus, imperdiet vel mollis quis, adipiscing sit amet est. Sed suscipit urna non felis mollis aliquam quis id lacus. Curabitur ut est vitae ante rutrum mollis id vitae nisi.</p><p>Mauris malesuada erat a magna egestas rutrum id at diam. Nulla pharetra lacinia est, at rhoncus dui dapibus eu. Aliquam sit amet diam libero. Integer urna dui, ultricies ac suscipit vitae, convallis ut tellus. Etiam ut justo nibh.</p></div><ul
class="links"><li
class="price"><a><span
class="icon-tag icon-white"></span>$399</a></li><li><a
href="#"><span
class="icon-shopping-cart icon-white"></span>add to cart</a></li><li><a
href="#"><span
class="icon-plus-sign icon-white"></span>more details</a></li></ul></div></div></div></div><div
class="ca-item ca-item-3"><div
class="ca-item-main"><div
class="ca-icon"></div><div
class="background" style="background-image:url(http://hogash-demo.com/kallyas_wp/wp-content/uploads/2013/02/pic3-376x440.jpg);"></div><div
class="title_circle" style="top:180px; left:190px;" data-size="small"><span>AN <strong>AWESOME</strong> PRODUCT HERE</span></div><a
href="#" class="ca-more">MORE <span
class="icon-chevron-right icon-white"></span></a></div><div
class="ca-content-wrapper"><div
class="ca-content"><h6>YES, AN AWESOME NEW PRODUCT</h6><a
href="#" class="ca-close"><span
class="icon-remove"></span></a><div
class="ca-content-text"><p>Donec adipiscing diam non augue suscipit in vulputate ligula vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vehicula vulputate scelerisque. Sed nec sodales sem. Morbi pharetra viverra congue. Donec imperdiet eleifend varius. Quisque turpis tellus, imperdiet vel mollis quis, adipiscing sit amet est. Sed suscipit urna non felis mollis aliquam quis id lacus. Curabitur ut est vitae ante rutrum mollis id vitae nisi.</p><p>Mauris malesuada erat a magna egestas rutrum id at diam. Nulla pharetra lacinia est, at rhoncus dui dapibus eu. Aliquam sit amet diam libero. Integer urna dui, ultricies ac suscipit vitae, convallis ut tellus. Etiam ut justo nibh.</p></div><a
href="#" target="_self">Get it now !</a></div></div></div><div
class="ca-item ca-item-4"><div
class="ca-item-main"><div
class="ca-icon"></div><div
class="background" style="background-image:url(http://hogash-demo.com/kallyas_wp/wp-content/uploads/2013/02/pic4-376x440.jpg);"></div><div
class="title_circle" style="top:270px; left:170px;" data-size="small"><span>AN <strong>AWESOME</strong> PRODUCT HERE</span></div><a
href="#" class="ca-more">FIND OUT MORE <span
class="icon-chevron-right icon-white"></span></a></div><div
class="ca-content-wrapper"><div
class="ca-content"><h6>YES, AN AWESOME NEW PRODUCT</h6><a
href="#" class="ca-close"><span
class="icon-remove"></span></a><div
class="ca-content-text"><ul
class="other_images"><li><a
href="http://www.placehold.it/500x500/CB3733/ffffff" data-rel="prettyPhoto"><img
src="http://www.placehold.it/131x98/CB3733/ffffff" alt=""></a></li><li><a
href="http://www.placehold.it/500x500/22AABC/ffffff" data-rel="prettyPhoto"><img
src="http://www.placehold.it/131x98/22AABC/ffffff" alt=""></a></li><li><a
href="http://www.placehold.it/500x500" data-rel="prettyPhoto"><img
src="http://www.placehold.it/131x98" alt=""></a></li></ul><div
class="ca-content-text"><p>Donec adipiscing diam non augue suscipit in vulputate ligula vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vehicula vulputate scelerisque. Sed nec sodales sem.</p><p>Morbi pharetra viverra congue. Donec imperdiet eleifend varius. Quisque turpis tellus, imperdiet vel mollis quis, adipiscing sit amet est. Sed suscipit urna non felis mollis aliquam quis id lacus. Curabitur ut est vitae ante rutrum mollis id vitae nisi.</p><p>Mauris malesuada erat a magna egestas rutrum id at diam. Nulla pharetra lacinia est, at rhoncus dui dapibus eu. Aliquam sit amet diam libero. Integer urna dui, ultricies ac suscipit vitae, convallis ut tellus. Etiam ut justo nibh.</p></div><ul
class="links"><li
class="price"><a><span
class="icon-tag icon-white"></span>$399</a></li><li><a
href="#"><span
class="icon-shopping-cart icon-white"></span>add to cart</a></li><li><a
href="#"><span
class="icon-plus-sign icon-white"></span>more details</a></li></ul></div><a
href="#" target="_self">Get it now at 45$</a></div></div></div><div
class="ca-item ca-item-5"><div
class="ca-item-main"><div
class="ca-icon"></div><div
class="background" style="background-image:url(http://hogash-demo.com/kallyas_wp/wp-content/uploads/2013/02/pic5-376x440.jpg);"></div><div
class="title_circle" style="top:200px; left:10px;" data-size="small"><span>You've Guessed it</span></div><a
href="#" class="ca-more">MORE <span
class="icon-chevron-right icon-white"></span></a><span
class="ca-starting">starting from <strong>$299</strong></span></div><div
class="ca-content-wrapper"><div
class="ca-content"><h6>YES, AN AWESOME NEW PRODUCT</h6><a
href="#" class="ca-close"><span
class="icon-remove"></span></a><div
class="ca-content-text"><p>Donec adipiscing diam non augue suscipit in vulputate ligula vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vehicula vulputate scelerisque. Sed nec sodales sem. Morbi pharetra viverra congue. Donec imperdiet eleifend varius. Quisque turpis tellus, imperdiet vel mollis quis, adipiscing sit amet est. Sed suscipit urna non felis mollis aliquam quis id lacus. Curabitur ut est vitae ante rutrum mollis id vitae nisi.</p><p>Mauris malesuada erat a magna egestas rutrum id at diam. Nulla pharetra lacinia est, at rhoncus dui dapibus eu. Aliquam sit amet diam libero. Integer urna dui, ultricies ac suscipit vitae, convallis ut tellus. Etiam ut justo nibh.</p></div><a
href="#" target="_self">Get it now !</a></div></div></div></div></div></div><div
class="zn_header_bottom_style"></div></div>