<div class="support_panel" id="sliding_panel">
					<div class="container">
						<div id="text-2" class="widget widget_text">			<div class="textwidget">			<div class="row">
				<div class="span9">
					<h4 class="m_title">HOW TO SHOP</h4>
					<div class="m_content how_to_shop">
						<div class="row">
							<div class="span3">
								<span class="number">1</span> Login or create new account.
							</div>
							<div class="span3">
								<span class="number">2</span> Review your order.
							</div>
							<div class="span3">
								<span class="number">3</span> Payment &amp; <strong>FREE</strong> shipment
							</div>
						</div>
						<p>If you still have problems, please let us know, by sending an email to support@website.com . Thank you!</p>
					</div><!-- end how to shop steps -->
				</div>
				<div class="span3">
					<h4 class="m_title">SHOWROOM HOURS</h4>
					<div class="m_content">
					Mon-Fri 9:00AM - 6:00AM<br>
					Sat - 9:00AM-5:00PM<br>
					Sundays by appointment only!
					</div>
				</div>
			</div></div>
		</div>					</div>
				</div><!-- end support panel -->