/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * Note: "this directory" is app/assets/stylesheets
 * !Did not read vendor/assets/stylesheets!  I had to add an explicit require_tree ../../../vendor/assests/stylesheets entry to the manifest!
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_tree ../../../vendor/assets/kallyas/stylesheets
 *= require superfish.css
 *= require ../../../vendor/assets/circular_content_carousel/stylesheets/circular_content_carousel.css
 *= require ../../../vendor/assets/circular_content_carousel/stylesheets/circular_content_carousel_alternative.css
 *= require ../../../vendor/assets/pretty_photo/stylesheets/prettyPhoto.css
 */

 td.money {
     text-align: right;
 }
 
 table.admin th {
     padding-left: 2.0em;
     padding-right: 2.0em;
     padding-top: 0.5em;
     padding-bottom: 0.5em;
 }
 
 table.admin td {
     padding-left: 1.0em;
     padding-right: 0.0em;
     padding-top: 0.25em;
     padding-bottom: 0.25em;
 }
 
 table.admin a {
     text-decoration: none;
 }